$light-border: #eaeaea;
$secondary: #606674;
$light: #ccc;
$main: #2f80ed;
$white: #fff;

.container {
  display: grid;
  grid-template-columns: 330px 1fr;
}

.right-column {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(204 204 204 / 20%);

  &__empty-text {
    color: $light;
    font-size: 12px;
    line-height: 14px;
  }

  &__active-chat {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
  }
}

.left-column {
  width: 330px;
  border-right: 1px solid $light-border;
}

.avatar__container {
  width: 50px;
  height: 50px;
  margin-right: 12px;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 14px 18px 18px;
  column-gap: 25px;

  &__label {
    width: 100%;
    display: flex;
    position: relative;
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    min-height: 32px;
    border: 1px solid $light-border;
    border-radius: 5px;
    padding: 0;
  }
}

.input {
  &__icon {
    position: absolute;
    top: 6px;
    left: 6px;
  }

  &__field {
    position: relative;
    padding-left: 30px;
    color: $secondary;
    font-size: 12px;
    line-height: 1;
    font-weight: 500;

    &::placeholder {
      position: absolute;
      top: 10px;
      left: 30px;
      font-size: 12px;
      font-weight: 500;
      line-height: 1;
      color: $light;
    }

    &:focus {
      background-color: rgb(204 204 204 / 20%);

      &::placeholder {
        overflow: hidden;
      }
    }

  }
}

.link {
  display: flex;
  align-items: center;

  &:hover {
    opacity: 0.7;
  }
}
