---
title: Главная
stylesheets:
    - ../../styles/fonts.scss
    - ../../styles/global.scss
    - ../../styles/avatar.scss
    - ./index.scss
profilePage:
    - ../profile/profile.hbs
settingsIcon:
    - ../../images/settings.svg
searchIcon:
    - ../../images/search-icon.svg
emptyText: Выберите чат чтобы отправить сообщение
---

{{!< base}}

<main class="container">
    <div class="left-column">
        <div class="search">
            {{> link img=settingsIcon classes="link" href=profilePage}}
            {{> 
                input 
                containerClasses="search__label" 
                inputClasses="search__input" 
                src=searchIcon
                placeholder="Поиск"
            }}
        </div>
        <div class="chats">
            {{#each chats}}
                {{> 
                    chat 
                    title=title 
                    avatarClasses="avatar__container_type_chat"
                    classes="chat"
                    lastMessageContent=last_message.content
                    count=unread_count
                    time=last_message.time
                    src=avatar
                }}
            {{/each}}
        </div>
    </div>
    <div class="right-column">
        <p class="right-column__empty-text">{{emptyText}}</p>
    </div>
</main>