<form class="form">
    <h1 class="form__title">{{title}}</h1>
    {{> @partial-block }}
    {{> button text=buttonText classes="form__button"}}
    {{> link text=linkText href=linkHref classes="form__link"}}
</form>