$light-border: #eaeaea;
$secondary: #606674;
$light: #ccc;
$main: #2f80ed;
$white: #fff;

.compose-form {
  width: 100%;
  max-width: 950px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu-button,
  &__send-button {
    background-color: inherit;
    border: none;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  &__send-button {
    transform: rotate(180deg);
  }

  &__input {
    width: 94%;
    max-width: 900px;
  }

  &__input-field {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid $light-border;
    min-height: 40px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 46px;

    &:focus {
      background-color: rgb(204 204 204 / 20%);
    }
  }

  &__input-attach {
    top: 10px;
    right: 20px;
    position: absolute;
    border: none;
    background-color: inherit;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }

}
